[Desktop Entry]
Type=Application
Version=1.0
Name=Setup Ubuntu Sway RPi
GenericName=OEM Setup
Comment=Finish the Ubuntu Sway RPi installation
Exec=sudo -E calamares
Icon=calamares
Terminal=false
StartupNotify=true
Type=Application
Categories=Qt;System;
