[Desktop Entry]
Type=Application
Version=1.0
Name=Setup Ubuntu Sway ARM
GenericName=OEM Setup
Comment=Finish the Ubuntu Sway ARM installation
Exec=sudo -E calamares
Icon=calamares
Terminal=false
StartupNotify=true
Type=Application
Categories=Qt;System;
